.container__right {
	width: 25%;
	background-color: #006d77;
}

.itineraryCard {
    margin: 30px;
    padding: 10px 30px 30px;
    background-color: #83c5be;
}

.itineraryCard button {
    border: 1px solid #F7F0F0;
    color: #006d77;
    padding: 4px;
    border-radius: 3px;
    background-color: #edf6f9;
    font-size: 10pt;

}