@import "./itinerary.css";
@import "./preview.css";
@import "./select.css";
@import "./Modal.css";



/*Typography*/
body,
button,
input,
select,
textarea {
	color: #2D2F39;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 14px;
}

h1 {
	font-family: 'Rock Salt', cursive;
	font-size: 28pt;
	color: #2D2F39;
}
	
h2,h3,h4,h5,h6 {
  font-family: "montserrat",Arial,"Helvetica Neue",Helvetica,sans-serif;
  letter-spacing: 2px;
}

/* Main Section Organizing */

body {
	margin: 0;
	background-color: #F7F0F0;
}

header {
	background-color: #e29578;
	margin: 0;
	padding: 8px 30px;
	color: #293241;
} 

.container {
	display: flex;
	justify-content: space-between;
}

.container__left {
	width: 75%;
}
