.itineraryPreview {
    background-color: #ffddd2;
    padding: 20px;
    margin: 20px 0 0;
    min-height: 300px;
}

.container__left div {
    margin: 15px;
}

.weatherPreview {
    margin: 4px;
    
}

.forecast {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.forecastCard {
    background-color: #83c5be;
    color: white;
    border-radius: 2%;
    text-shadow: 0px 0px 3px teal;
    width: 160px;
    font-size: 18px;
}

.forecastCard div {
    padding: 0;
}

button {
    border: 1px solid #F7F0F0;
    color: #006d77;
    padding: 4px;
    border-radius: 3px;
    background-color: #edf6f9;
    font-size: 10pt;
}

.parkModal, .attractionModal, .eateriesModal {
    background-color: #e29578;
    
}

.parks, .eatery, .attractions {
    padding: 20px;
}