.container__left div {
    margin: 15px;
}

.weatherPreview {
	margin: 10px;
	color: white;
}

.forecast {
	display: flex;
}

.forecastCard {
	margin: 10px;
	background-color: lightskyblue;
	padding: 20px;
    border-radius: 2%;
    text-shadow: 0px 0px 5px skyblue;
}